<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>53DF2B694E0CFCCB0F37CD6B711EC642</string>
            <key>code2</key>
            <string>A1DAD5431AA0A9B1F81116CE41B8B208</string>
            <key>code3</key>
            <string>A02027663EC310966A597A76798806AF</string>
            <key>code4</key>
            <string>BAFC76F710F4C7B8341DF153F6CAC79A</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>url</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>websocketurl</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>109045623</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>172249065902676109</string>
            <key>package_name</key>
            <string>com.io.zand</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>20007000030115536</string>
            <key>product_id</key>
            <string>388421841221645153</string>
            <key>client_id</key>
            <string>1229893962370666048</string>
            <key>client_secret</key>
            <string>[!00FC5D2171840C81CD874517919AE094D24F66B749C10E4B2541086F447942E29F766B8D9D23EEC5E59AC8093F8F345602969DB503AF4A7643266D582FABABDA578ADF19498B1CFF35EA43C60BB87D44BFF19BD993BB361B85D7C6E89A1ADFB48E]</string>
            <key>project_id</key>
            <string>388421841221645153</string>
            <key>app_id</key>
            <string>172249065902676109</string>
            <key>api_key</key>
            <string>DAEDALhGBUAEdT5d9/P12pMTtSbldUzipi2QxhkzNGr50qMm8lNMUN6keJM2HCb/tbAFaHQ8MQ4bBXJFi636nVYf/NSS74qtNQ2WrQ==</string>
            <key>package_name</key>
            <string>com.io.zand</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.edu.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drru.cloud.huawei.ru</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drru.ai.dbankcloud.ru,ml-api-drru.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>RU</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.io.zand</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!001300AC5D5E8D8950A724A406DA1F9A0B1A0E9BEA68BE64D88B054015E0E135BA332BCE42888CDF48125C727E2BB8F2898B9E50583EC5216E8A7BF22A536547DE7C66D667E25A821052A6A65D7DC570F021133E9788472A72E8EC14147A844271]</string>
                    <key>app_id</key>
                    <string>172249065902676109</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>AD3BB9F9CA1243B032EC26AB927725339FB96D26C49E76BA0986321A81FA9EF3</string>
                    <key>code2</key>
                    <string>C6F69ED1FBD075356BBB8C5590C7580FF02E7DFD874AD5195FD212D4BB23C356</string>
                    <key>code3</key>
                    <string>001E6AD3E35E57EBF75C2A57011EA627E746CD90471CA31ADB049A9422A4EF7E</string>
                    <key>code4</key>
                    <string>8B45A9FB77926CB43D3A7992AFF30841</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
