<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102387260014-laonrhjt9738su6750gtme9h6317fetg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102387260014-laonrhjt9738su6750gtme9h6317fetg</string>
	<key>API_KEY</key>
	<string>AIzaSyDMWsFDXUOJ5w_v6Ewa60GYd1N1lrdg598</string>
	<key>GCM_SENDER_ID</key>
	<string>102387260014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.io.zand</string>
	<key>PROJECT_ID</key>
	<string>zand-da891</string>
	<key>STORAGE_BUCKET</key>
	<string>zand-da891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102387260014:ios:c8d823fad283fb7dd4647f</string>
</dict>
</plist>